@model user
@{
    ViewBag.Title = "login";
}

<h2>login</h2>

<form method="post">
    <div class="row">
        <div class="col-md-3"> @Html.LabelFor(n => n.Email) </div>
        <div class="col-md-5"> @Html.TextBoxFor(n => n.Email, new { @class = "form_control" }) </div>
        <div class="col-md-3"> @Html.ValidationMessageFor(n => n.Email)</div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3"> @Html.LabelFor(n => n.Password) </div>
        <div class="col-md-5"> @Html.PasswordFor(n => n.Password, new { @class = "form_control" }) </div>
        <div class="col-md-3"> @Html.ValidationMessageFor(n => n.Password)</div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5"> @Html.CheckBox("remberme") Rember me</div>
        <div class="col-md-3"> @Html.ValidationMessageFor(n => n.Password)</div>
    </div>
    <p class="text-danger">@ViewBag.status</p>
    <input type="submit" value="login" class="btn btn-success" />
</form>

@Html.Partial("test")
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

}